.bg{
  background-color: #f1f1f3 ;
}

.bgs{
  background-color: #e6e6e6;
}
.box {
  background: linear-gradient(165deg, rgb(0, 166, 255) 8%, #e6e6e6 15%);
  border-radius: 4px;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cap{
  text-transform: uppercase;
}

.hr-pad{
  width: 30px;
  height: 4px;
  background-color: rgb(0, 166, 255);
  display: inline-block;
  position: relative;
  bottom: 2.1rem;
}

.heading-color{
  color: rgb(0, 166, 255);
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
